header {
    width: 100%;
    background-color: burlywood;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    width: 100%;
    background-color: burlywood;
    height: 72px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-container {
    display: flex;
    height: 100%;

    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
}

.github-link {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #010203;
    color: white;
    transition: .2s;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.github-link:hover {
    background-color: white;
    color: #010203;
    text-decoration: none;
}

.github-link-text {
    color: white;
    text-decoration: none;
}

.github-link:hover .github-link-text {
    color: #010203;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links > p {
    padding: 0;
    font-size: 24px;
    margin: 0 0 0 0;
    cursor: pointer;
}

#find-link {
    margin-right: 100px;
}

.admin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    transition: .5s;
    font-size: 14px;
    text-decoration: none;
    margin-right: 5px;
}

.admin-button:hover {
    background-color: white;
    color: #010203;
    text-decoration: none;
    cursor: pointer;
}

.admin-button > p:hover {
    color: #010203;
    text-decoration: none;
    cursor: pointer;
}

.admin-button > p {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 40px;
    background: transparent;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.side-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;


}

.side-buttons > p {
    margin: 0;
    margin-right: 10px;
    padding: 0;
}


.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: maroon;
    color: white;
    transition: .5s;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}

.logout-button:hover {
    background-color: white;
    color: #010203;
    cursor: pointer;
}

.logout-button > p:hover {
    color: #010203;
    text-decoration: none;
    cursor: pointer;
}

.logout-button > p {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

.view-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: olivedrab;
    color: white;
    transition: .5s;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}

.view-button:hover {
    background-color: white;
    color: #010203;
    cursor: pointer;
}

.view-button > p:hover {
    color: #010203;
    text-decoration: none;
    cursor: pointer;
}

.view-button > p {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background-color: gold;
    color: black;
    transition: .5s;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}

.signup-button:hover {
    background-color: white;
    color: #010203;
    text-decoration: none;
    cursor: pointer;
}


.signup-button > p:hover {
    color: #010203;
}

.signup-button > p {
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background-color: orangered;
    color: black;
    transition: .5s;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}

.back-button:hover {
    background-color: red;
    color: #010203;
    text-decoration: none;
    cursor: pointer;
}


.backback-button > p:hover {
    color: #010203;
}

.back-button > p {
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

.footer-data {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-data > p {
    padding: 0;
    margin: 0;
}

.fixed-container-main {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.username-block {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.username-block > p {
    margin: 0;
    padding: 0;
    text-align: center;
}

