
.loginForm {
    margin-top:20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loginForm > form {
    width: 100%;
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.formContainerButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
button {
    color: white;
    background-color: #1D9AF2;
    border: 1px solid #292D3E;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    transform: scale(1.1);
    }


    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        background: #f9f9f9;
      }
.fixed-container-login{
    margin-top: 100px;
}